<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link href="../static/css/bootstrap.css" rel="Stylesheet">
    <link href="../static/css/about.css" rel="Stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <title></title>
</head>
    <body scroll=auto style="overflow-x:hidden">
     <div class="row uptitle">
      <div class="col-xs-6 col-sm-4"></div>
      <div class="col-xs-6 col-sm-4">
       <div class="col-sm-4"><a href="{{url_for('search')}}" style="text-decoration:none">Scholarship</a></div>
       <div class="col-sm-4" style="text-decoration:none">About us</div>
       <div class="col-sm-4"><a href="{{url_for('report')}}" style="text-decoration:none">Report</a></div>
       <div class="col-xs-6 col-sm-4"></div>
   </div>
</div>

<div class="video-container"> 
    <iframe width="800px" height="450px" src="http://player.vimeo.com/video/107314642" frameborder="0" allowfullscreen></iframe><p>
</div> 

   <!-- Contact Form JavaScript -->
   <script src="js/jqBootstrapValidation.js"></script>
   <script src="js/contact_me.js"></script>



</body>
</html>